In [21]:
import pandas as pd
from pandas import ExcelWriter, ExcelFile
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

df = pd.read_excel("NHL Attendance.xlsx", sheet_name='Sheet1')
df.head()

,SEASON,RANK,TEAM,HOME GAMES,HOME ATTENDANCE,ROAD GAMES,ROAD ATTENDANCE,TOTAL GAMES,TOTAL ATTENDANCE
0,2017-18,1,Chicago,41,887794,41,723773,82,1611567
1,2017-18,2,Montreal,41,873283,41,733736,82,1607019
2,2017-18,3,Philadelphia,41,800214,41,702781,82,1502995
3,2017-18,4,Detroit,41,800115,41,717295,82,1517410
4,2017-18,5,Toronto,41,786677,41,751940,82,1538617

In [42]:
df_season = df.groupby(['SEASON']).sum()
df_season.head()

,RANK,HOME GAMES,HOME ATTENDANCE,ROAD GAMES,ROAD ATTENDANCE,TOTAL GAMES,TOTAL ATTENDANCE
SEASON,,,,,,,
2000-01,465,1232,20399945,1232,20399439,2464,40799384
2001-02,465,1230,20613498,1230,20612914,2460,41226412
2002-03,465,1230,20406393,1230,20405864,2460,40812257
2003-04,465,1230,20356199,1230,20355598,2460,40711797
2005-06,465,1230,20854169,1230,20853461,2460,41707630

In [48]:
df_season.plot(x=df_season.loc(['SEASON']), y=df_season.loc(['TOTAL ATTENDANCE']))

TypeError: unhashable type: 'list'